[Unit]
Description=MRTG container
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop mrtg
ExecStartPre=-/usr/bin/docker rm mrtg
#ExecStartPre=/usr/bin/docker pull ggosselin/mrtg:rpi
ExecStart=/usr/bin/docker run --rm --name mrtg -v /docker/data/volume/mrtg/:/home/mrtg/data -v /etc/localtime:/etc/localtime:ro ggosselin/mrtg:rpi
ExecStop=/usr/bin/docker stop -t 2 mrtg

[Install]
WantedBy=default.target
